[package]
name = "rsdsl"
version = "0.3.0"
edition.workspace = true
license.workspace = true

[dependencies]
serde = { version = "1", features = ["derive"] }
serde_json = "1"

[dev-dependencies]
rsdsl_macros = { path = "../rsdsl_macros" }
