[package]
name = "rsdsl_macros"
version = "0.3.0"
edition.workspace = true
license.workspace = true

[lib]
proc-macro = true

[dependencies]
proc-macro2 = "1"
quote = "1"
syn = { version = "2", features = ["extra-traits"] }
rsdsl = { path = "../rsdsl" }
